<div id="carouselExampleCaptions" class="carousel slide my-3 carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner rounded-4 shadow-sm">

    <% carousel.forEach((item, index) => { %>
    <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
      <img src="<%= item.posterImages[0] %>" style="filter: blur(5px) brightness(50%);" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5 class="text-white"><%= item.title %></h5>
        <p class="text-muted"><%= item.description %></p>
        <a href="/book/<%= item._id %>/view" class="btn btn-outline-info btn-sm">Buy '<strong><%= item.title %></strong>'</a>
      </div>
    </div>
    <% }) %>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>